[phases.setup]
nixPkgs = [
    "python311",
    "chromium",
    "chromedriver"
]
aptPkgs = [
    "libnss3",
    "libatk1.0-0",
    "libatk-bridge2.0-0",
    "libcups2",
    "libdrm2",
    "libgbm1",
    "libasound2"
]

